// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCBGTYV8M84z6qucLxr2cwDcefQ5CrrELI",
  authDomain: "moveweb-d6b21.firebaseapp.com",
  databaseURL: "https://moveweb-d6b21-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "moveweb-d6b21",
  storageBucket: "moveweb-d6b21.firebasestorage.app",
  messagingSenderId: "825162461954",
  appId: "1:825162461954:web:e55326d9c6b184824c481b",
  measurementId: "G-ZQTDVJH73Y"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);